<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://producthuntslack.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>producthuntslack.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>producthuntslack</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$producthuntslack</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PhuntSlackFeedEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:producthuntslack.database.windows.net,1433;Initial Catalog=producthuntslack_db;User ID=tangallan@producthuntslack;Password=Orange$test102089" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProductHuntSlack.WebApplication.Data.PhuntSlackFeedEntities, ProductHuntSlack.WebApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=producthuntslackstorage;AccountKey=f5cTv8otVx9Hymq0oMDxrwRxS33+wCe4c+gk7VbnuKNYH+sAkXTqxTP0DJwR5pZGY/Abfs7lohfnyEOOYng4ew==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=producthuntslackstorage;AccountKey=f5cTv8otVx9Hymq0oMDxrwRxS33+wCe4c+gk7VbnuKNYH+sAkXTqxTP0DJwR5pZGY/Abfs7lohfnyEOOYng4ew==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PhuntSlackFeedEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.PhuntSlackFeedModel.csdl|res://*/Data.PhuntSlackFeedModel.ssdl|res://*/Data.PhuntSlackFeedModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:producthuntslack.database.windows.net,1433;Initial Catalog=producthuntslack_db;User ID=tangallan@producthuntslack;Password=Orange$test102089"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>